.App {
  text-align: center;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.content-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding-right: 38.5px;
  padding-left: 38.5px;
  box-shadow: #cccccc 0px 2px 4px 0px;
  align-items: center;
}

@font-face {
  font-family: avenir;
  src: url(AvenirLTStd-Book.otf);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

font {
  font-family: avenir;
  font-weight: 500;
}

input[type=number] {
  border:none;
  background-image:none;
  outline: none;
  width: inherit;
  padding: none;
  margin: none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
